@import "./Variables";

// Products


.products{
  @include pageStyles;
}

.products__container{
  @include container;
  padding-top: $mainBigPadding;
  padding-bottom: $mainBigPadding;
}

.products__header{
  @include flexSpaceBetween;
  margin-bottom: $mainBigMargin;
}

.products__title{
  @include bigFontH1;
}

.products__bucket{
  cursor: pointer;
  position: relative;
}

.products__items{
  @include flexStart;
  width: 100%;
  flex-wrap: wrap;
}

.products__item {
  @include fontSize8;
  cursor: pointer;
  margin-bottom: $mainMediumMargin;

  &:not(:last-child){
    margin-right: $mainBigMargin;
  }

  p {
    text-align: center;
  }

  img{
    height: 250px;
    width: 200px;
    object-fit: cover;
    background-position: center;
  }
}

// Product

.product{
  @include pageStyles;
}

.product__container{
  @include container;
  padding-top: $mainBigPadding;
  padding-bottom: $mainBigPadding;
}

.product__header{
  @include flexSpaceBetween;
  margin-bottom: $mainBigMargin;
}

.header__left{
  @include flexStart;
  align-items: end;

  p{
    cursor: pointer;
  }
}

.product__title{
  @include bigFontH1;
  margin-right: $mainMediumMargin;
}

.product__bucket{
  cursor: pointer;
  position: relative;
}

.product__body{
  @include flexSpaceBetween;
  align-items: start;
}

.product__images{
  position: relative;
  padding: 0 30px;

  img{
    border-radius: 15px;
    height: 350px;
    width: 300px;
    object-fit: cover;
    background-position: center;
  }
}

.images__decrement{
  position: absolute;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background: url("../Svg/LeftDirection.svg") center no-repeat;
  background-size: contain;
  top: 50%;
  left: -10px;
  transform: translate(0, -50%);
  transition: none;

  &:hover, &:active, &:focus{
    transform: translate(0, -50%);
  }
}

.images__increment{
  position: absolute;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background: url("../Svg/RightDirection.svg") center no-repeat;
  background-size: contain;
  top: 50%;
  right: -10px;
  transform: translate(0, -50%);

  &:hover, &:active, &:focus{
    transform: translate(0, -50%);
  }
}

.product__info{
  @include flexStartColumn;
}

.info__title{
  @include bigFontH2;
  margin-bottom: 5px;
}

.info__price{
  @include bigFontH3;
  margin-bottom: $mainMediumMargin;
}

.info__description{
  @include fontSize7;
}

.product__actions{
  @include flexStartColumn;
}

.actions__colors{
  @include flexStart;
}

.colors__color{
  cursor: pointer;
  margin-bottom: $mainMediumMargin;
  padding: 5px;
  border-radius: 15px;
  background-color: white;

  &:not(:last-child){
    margin-right: $mainMediumMargin;
  }
}

.color__current{
  background-color: lightblue;
}

.colors__image{
  border-radius: 15px;
  height: 100px;
  min-width: fit-content;
  max-width: 100px;
}

.colors__title{
  @include fontH4;
  text-align: center;
}

.actions__sizes{
  @include flexCenter;
  margin-bottom: $mainBigMargin;
}

.sizes__size{
  cursor: pointer;
  padding: 5px;
  width: 40px;
  border-radius: 15px;
  background-color: white;

  &:not(:last-child){
    margin-right: $mainMediumMargin;
  }
}

.size__current{
  background-color: lightblue;
}

.size__notAvailable{
  cursor: default;
  background-color: rgba(0, 0, 0, 0.5);
}

.sizes__label{
  @include fontSize5;
  text-align: center;
}

.sizes__number{
  @include fontSize5;
  text-align: center;
}

.actions__buy{
  @include fontSize6;
  padding: 10px 25px;
  background-color: white;
  border: 1px solid #565656;
  border-radius: 15px;
  margin-left: 5px;
}

// Bucket

.bucket{
  @include pageStyles;
}

.bucket__container{
  @include container;
  padding-top: $mainBigPadding;
  padding-bottom: $mainBigPadding;
}

.bucket__left{
  margin-bottom: $mainBigMargin;
  @include flexStart;
  align-items: end;

  p{
    cursor: pointer;
  }
}

.bucket__title{
  @include bigFontH1;
  margin-right: $mainMediumMargin;
}

.bucket__count{
  @include fontSize7;
  @include flexCenter;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: lightblue;
  color: $mainFontColor;
  border-radius: 50%;
  top: -15px;
  right: -25px;
}

.bucket__items{
  @include flexStart;
  flex-wrap: wrap;
  width: 100%;
}

.bucket__item{
  @include flexCenterColumn;
  align-items: center;
  justify-content: start;
  width: 200px;
  height: 200px;
  margin-bottom: $mainMediumMargin;

  &:not(:last-child){
    margin-right: $mainBigMargin;
  }

  img{
    width: 200px;
    height: 250px;
    object-fit: cover;
    background-position: center;
    margin-bottom: 5px;
  }
}

.bucket__item-title{
  @include fontH2;
  margin-bottom: 5px;
}

.bucket__item-text{
  @include fontSize6;
  margin-bottom: 5px;
}

.bucket__item-delete{
  border-radius: 25px;
  padding: 5px 25px;
  background-color: white;
  border: 1px solid #565656;
  color: #d7062f;
}