@import "./Variables";

// Products


.products{
  @include pageStyles;
}

.products__container{
  @include container;
  padding-top: $mainBigPadding;
  padding-bottom: $mainBigPadding;
}

.products__header{
  @include flexSpaceBetween;
  margin-bottom: $mainBigMargin;
}

.products__title{
  @include bigFontH1;
}

.products__bucket{
  cursor: pointer;
}

.products__items{
  @include flexStart;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
}

.products__item {
  @include fontSize8;
  cursor: pointer;

  p {
    text-align: center;
  }

  img{
    height: 250px;
    min-width: fit-content;
    max-width: 350px;
  }
}

// Product

.product{
  @include pageStyles;
}

.product__container{
  @include container;
  padding-top: $mainBigPadding;
  padding-bottom: $mainBigPadding;
}

.product__header{
  @include flexSpaceBetween;
  margin-bottom: $mainBigMargin;
}

.product__title{
  @include bigFontH1;
}

.product__bucket{
  cursor: pointer;
}

.product__body{
  @include flexSpaceBetween;
  align-items: start;
}

.product__images{
  position: relative;
  padding: 0 20px;

  img{
    height: 350px;
    min-width: fit-content;
    max-width: 350px;
  }
}

.images__decrement{
  position: absolute;
  cursor: pointer;
}

.images__increment{
  position: absolute;
  cursor: pointer;
}

.product__info{
  @include flexStartColumn;
}

.info__title{
  @include bigFontH2;
  margin-bottom: 5px;
}

.info__price{
  @include bigFontH3;
  margin-bottom: $mainMediumMargin;
}

.info__description{
  @include fontSize7;
}

.product__actions{
  @include flexStartColumn;
}

.actions__colors{
  @include flexStart;
}

.colors__color{
  cursor: pointer;
  margin-bottom: $mainMediumMargin;

  &:not(:last-child){
    margin-right: $mainMediumMargin;
  }
}

.colors__image{
  height: 100px;
  min-width: fit-content;
  max-width: 100px;
}

.colors__title{
  @include fontH4;
  text-align: center;
}

.actions__sizes{
  @include flexStart;
  margin-bottom: $mainBigMargin;
}

.sizes__size{
  cursor: pointer;

  &:not(:last-child){
    margin-right: $mainMediumMargin;
  }
}

.sizes__label{
  @include fontSize5;
}

.sizes__number{
  @include fontSize5;
}

.actions__buy{
  @include fontSize6;
  padding: 10px 25px;
  background-color: white;
  border-radius: 15px;
}